In [1]:
#funtion
def test(a,b):
    return a+b

In [3]:
test(4,6)

10

In [7]:
test("subash","selvaraj")

'subashselvaraj'

In [8]:
test(a=5,b=8)

13

In [10]:
test(b=89,a=33)

122

In [15]:
def test(a,b):
    'this is my function for concatination or addition' #docstring
    return a+b

In [16]:
test(4,5)

9

In [17]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [22]:
test1(3,4,5,6,7,7) #we have to provide only number of inputs which is defined in function

TypeError: test1() takes 5 positional arguments but 6 were given

In [23]:
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

In [24]:
def test3(*a): #this will provide any number of paramaters based on given input
    return a

In [26]:
test3(99,22)

(99, 22)

In [27]:
test3(22.44,55,2,4,2,42,32,42,4242,32,3)

(22.44, 55, 2, 4, 2, 42, 32, 42, 4242, 32, 3)

In [29]:
test3(28,3,4,5,6,7,4,6,7,4,56,6,3,6,424535,342,4,5,3,[332,5,52,5,2523,5])

(28,
 3,
 4,
 5,
 6,
 7,
 4,
 6,
 7,
 4,
 56,
 6,
 3,
 6,
 424535,
 342,
 4,
 5,
 3,
 [332, 5, 52, 5, 2523, 5])

In [31]:
def test5(*a): 
    l=[]
    for i in a:
        l.append(i) #extracting the data from given inputs and append the new list
    return l

In [33]:
test5(12,4,2,3,4,2,34,4,3,4,4,3,4,2,4,2,[4,3,4,3,4,2242,34])

[12, 4, 2, 3, 4, 2, 34, 4, 3, 4, 4, 3, 4, 2, 4, 2, [4, 3, 4, 3, 4, 2242, 34]]

In [34]:
def test7(*m,a,b,c,d,e):
    return m, a,b,c,d,e

In [39]:
test7(4,5,6,7,8,4,8,8,9,9,4,4,2,a=67,b=34,c=54,d=76,e=67)

((4, 5, 6, 7, 8, 4, 8, 8, 9, 9, 4, 4, 2), 67, 34, 54, 76, 67)

In [40]:
def test8(**subash):
    return subash

In [41]:
test8(4,5,6,6)

TypeError: test8() takes 0 positional arguments but 4 were given

In [42]:
def test8(**subash):
    return subash

In [46]:
test8(b=4,c=5,d=6,e=6,n=[3,4,56,7,8,96,6])

{'b': 4, 'c': 5, 'd': 6, 'e': 6, 'n': [3, 4, 56, 7, 8, 96, 6]}

In [55]:
def test9(*m,**s):
    return m,s

In [58]:
test9(345,45,56,5,6,56,b=4,c=7,g=9)

((345, 45, 56, 5, 6, 56), {'b': 4, 'c': 7, 'g': 9})

In [66]:
def test10(*m):
    n=0
    for i in m:
        if type(i)==int:
            n=n+i
    return n

In [67]:
test10(2,3,4,5,5,6,6)

31

In [79]:
def test11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [80]:
test11(4,5,6,6,7,87,8)

3507840

#### Lambda

In [82]:
n=lambda a,b:a+b

In [84]:
n(4,5)

9

In [85]:
def test5(a,b):
    return a+b

In [86]:
test5(4,5)

9

In [87]:
def test5(a,b):
    return a+b

In [88]:
test(4,5)

9

In [89]:
n(23,43)

66

In [93]:
d = lambda *subash:subash

In [94]:
d(4,5,6,7,7,8,9)

(4, 5, 6, 7, 7, 8, 9)

#### Comprehension operations

In [97]:
t = (3,4,5,6,6,7,8,9,3) #change this to list

In [99]:
l=[]
for i in t:
    l.append(i)

In [100]:
l

[3, 4, 5, 6, 6, 7, 8, 9, 3]

In [101]:
#List comprehension

In [105]:
[i for i in t] #first declaration is return thing which we want to print(i)

[3, 4, 5, 6, 6, 7, 8, 9, 3]

In [107]:
s = "subash"

In [108]:
[i for i in s]

['s', 'u', 'b', 'a', 's', 'h']

In [116]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [120]:
#square of the range
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [122]:
l = lambda *x: [i for i in x] #using lambda function and return the input values in list

In [124]:
l(4,5,6,7,8,9)

[4, 5, 6, 7, 8, 9]

In [127]:
l=  lambda*x:[i**2 for i in x] #square of the given number

In [130]:
l(3,4,5,6,6)

[9, 16, 25, 36, 36]

In [131]:
test14(a=7,b="subash",c=345,d="subash",l=[2,3,4,45,"subash"])

NameError: name 'test14' is not defined

In [149]:
#take the count of all string from the given input
def test14(**args): # double * is for purpose to give the multiple different type of inputs
    count= 0
    for i in args.values():
        if type(i)==str or type(i)==list:
            count+=1
    return count

In [150]:
test14(a=7,b="subash",c=345,d="subash",l=[2,3,4,45,"subash"])

3

In [155]:
#return the data in list type
def test15(**a):
    return list(a.values())

In [156]:
test15(a=7,b="subash",c=345,d="subash",l=[2,3,4,45,"subash"])

[7, 'subash', 345, 'subash', [2, 3, 4, 45, 'subash']]

q1=try to print a prime number in between 1 to 1000
q2=try to write a function which is equivalent to print function in python
q3=try to write a function which is a replace of list append,extend and opo function
q4=try to write a lambda function which can return a concatination of all the string that we will pass
q5=try to write lambda function which can return list of square of all the data betwwn1-100
q6=try to write a 10 different different example of lambda function with a coice of yours
q7=try to writw a function which can perform a read operation from txt file

#### q1=try to print a prime number in between 1 to 1000

In [8]:
for i in range (1,1000):  
    if i > 1:  
        for j in range (2, i):  
            if (i % j) == 0:  
                break  
        else:  
            print (i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

#### q2=try to write a function which is equivalent to print function in python

In [71]:
def fun():
    return "subash"

In [72]:
fun()

'subash'

#### try to write a function which is a replace of list append,extend and pop function

In [73]:
lst = [1,2,3,4,5]

In [74]:
lst.append(2)

In [75]:
lst

[1, 2, 3, 4, 5, 2]

In [76]:
lst.extend([1,2,2])

In [77]:
lst

[1, 2, 3, 4, 5, 2, 1, 2, 2]

In [78]:
lst.append([10,20,30,40])

In [79]:
lst

[1, 2, 3, 4, 5, 2, 1, 2, 2, [10, 20, 30, 40]]

In [109]:
#extend
def ext(*a):
    l=[1,2,3,3]
    l = l+list(a)
    return l

In [110]:
ext(10,20,30,40)

[1, 2, 3, 3, 10, 20, 30, 40]

In [107]:
#extend
def ext1(*args):
    l2=[1,2,3,4,5]
    l2[len(l1):]=args
    return l2

In [108]:
ext1(6,7,8)

[1, 2, 3, 4, 5, 6, 7, 8]

In [105]:
#append
def app(a,*b):
    l1=["subash","age","is",22]
    l1.insert(a,b)
    return l1

In [1]:
l1

NameError: name 'l1' is not defined

In [106]:
app(4,"He was a Testig Engineer")

['subash', 'age', 'is', 22, ('He was a Testig Engineer',)]

In [120]:
#pop
def pop(x):
    l=["list1","limst2",'list3']
    l.remove(x)
    return l

In [121]:
pop("limst2")

['list1', 'list3']

In [123]:
l=[13,42,42,5235,343,535]
l.pop()

535

In [124]:
l

[13, 42, 42, 5235, 343]

#### try to write a lambda function which can return a concatination of all the string that we will pass

In [2]:
S=lambda *args:' '.join(args)

In [3]:
S("subash","age","22")

'subash age 22'

#### try to write lambda function which can return list of square of all the data between1-100

In [169]:
square = [(lambda x :x*x)(x) for x in range(1,100)]

In [170]:
square

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

#### try to write a 10 different different example of lambda function with a coice of yours

In [174]:
add=lambda x,y:x+y
sub =lambda x,y:x-y
mult= lambda x,y:x*y
dev = lambda x,y:x/y
address = lambda *args:' '.join(args)
lis = lambda *args:list(args).insert(1,"suabsh")
ka = lambda **kwargs:kwargs
even  = [(lambda x:x%2==0)(x) for x in range(1,10)]
add  = [(lambda x:x%2!=0)(x) for x in range(1,10)]
madulo = [(lambda x:x%2)(x) for x in range(10,20)]

#### q7=try to writw a function which can perform a read operation from txt file

In [179]:

address("7/56","Pallivasal Street","Thandavarayapuram","Attur","Salem")

'7/56 Pallivasal Street Thandavarayapuram Attur Salem'